
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    border: 2px solid blue;
    padding: 2em;
    font-size: 10rem;
}